{
    "ConnectionDetails": {
        "user": "username",
        "url": "https://account.region.cloud.snowflakecomputing.com:443",
        "host": "account.region.cloud.snowflakecomputing.com",
        "account": "account.region.cloud",
        "private_key": "MIIEv ... 4=",         
        "private_key_file": "rsa_key.p8",
        "database": "databaseName",
        "schema": "public",
        "table": "tableName",
        "streamingClient": "snowpipeAgent",
        "streamingChannel": "snowpipeChannel",
        "warehouse": "XSMALL",
        "role": "accountadmin",
        "connect_string": "jdbc:snowflake://account.region.cloud.snowflakecomputing.com:443",
        "ssl": "on",
        "port": 443,
        "scheme": "https"
    },
    "ItemsToSend": 100,
    "SendItemAsJson": false,
    "ItemDefinition": [
        {
            "columnName": "ReplenishmentID",
            "columnType": "String",
            "randomType": "UUID"
        },
        {
            "columnName": "TruckID",
            "columnType": "String",
            "randomType": "Int",
            "valueFormat": "Truck-{random:100}"
        },
        {
            "columnName": "DistrbutionCenterId",
            "columnType": "String",
            "randomType": "UUID"
        },
        {
            "columnName": "StoreID",
            "columnType": "String",
            "randomType": "UUID"
        },
        {
            "columnName": "ProductID",
            "columnType": "String",
            "randomType": "Int",
            "valueFormat": "Product-{random:1000}"
        },
        {
            "columnName": "QuantityRequested",
            "columnType": "Int",
            "randomType": "IntRange",
            "valueFormat": "{random:1-500}"
        },
        {
            "columnName": "DateRequested",
            "columnType": "Date",
            "randomType": "CurrentDate"
        },
        {
            "columnName": "RequestedByEmployee",
            "columnType": "String",
            "randomType": "Faker",
            "fakerMethods": [
                "name",
                "fullName"            ]
        },
        {
            "columnName": "ReplenishmentDate",
            "columnType": "Date",
            "randomType": "RandomDate",
            "minDate": "2022-01-01",
            "maxDate": "2023-12-31",
            "minTime": "08:00:00",
            "maxTime": "18:00:00"
        },
        {
            "columnName": "ReplenishmentType",
            "columnType": "String",
            "randomType": "Choice",
            "choices": [
                "regular",
                "emergency"
            ]
        }
    ]
}
